<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->

  
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>

  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=416911481660452";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	
    <div class="container">
	<% unless (session[:age_gate] == 'passed' || request.path.include?('/pages/age_restriction')) %>
		<% if session[:enable_age_gate] && (Spree::Config[:use_age_gate_on_all_pages] || Spree::AgeGate.apply_for_path?(request.path)) %>
			<%= render :partial => 'spree/age_gate/modal_form' %>
		<% end %>
	<% end %>

	
      <header id="header" class="row" data-hook>
      
        <figure id="logo" class="columns alpha six" data-hook>
          <%= logo %>
        </figure> 

        <nav id="top-nav-bar" class="columns omega ten">
          <ul id="nav-bar" class="inline" data-hook>
            <%= render :partial => 'spree/shared/nav_bar' %>
          </ul>
        </nav>
            
		<div id="top-menu" data-hook>
			<%= render 'spree/shared/top_menu' %>
		</div>
      </header>

      <div id="wrapper" class="row" data-hook>
        
        <% if content_for?(:sidebar) %>
          <aside id="sidebar" class="columns alpha four" data-hook>
            <%= yield :sidebar %>
          </aside>
        <% end %>

        <div id="content" class="columns omega <% if !content_for?(:sidebar) %> sixteen alpha <% else %> twelve <% end %>" data-hook>
          <%= short_breadcrumbs(@taxon) %>
          <%= flash_messages %>
          <%= yield %>
        </div>

      </div>

      <footer id="footer" class="row" data-hook>
		<%= render :partial => 'spree/shared/main_menu' %>
      </footer>
	 <copyright>&copy; 2012 ReserveBar.com</copyright>

    </div>

    <%= render :partial => 'spree/shared/google_analytics' %>

<script type="text/javascript">
	$(function(){
		$("footer li:last-child").css("float","right");
		$("footer li:last-child").css("margin-right","0px");
		$("div#top-menu > ul > li:last-child").css("float", "right");
		$("div#top-menu > ul > li:last-child").css("margin-right","0px");
		$("div#top-menu > ul > li > a").click(function(){});
		
	});
</script>

	<%= render :partial => 'spree/shared/columnizer_ie' %>
	
	<div style="display:none;">
		first_referrer: <%= session[:first_referer] if session[:first_referer] %><br />
		enable_age_gate: <%= session[:enable_age_gate] if session[:enable_age_gate] %>
	</div>
  </body>

</html>
