<!doctype html>

<!--[if lt IE 7 ]> <html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="en"><!--<![endif]-->

  
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
  </head>

  <body class="<%= body_class %>" id="<%= @body_id || 'default' %>" data-hook="body">
    
    <div class="container">

      <header id="header" class="row" data-hook>
      
        <figure id="logo" class="columns alpha six" data-hook>
          <%= logo %>
        </figure> 

        <nav id="top-nav-bar" class="columns omega ten">
          <ul id="nav-bar" class="inline" data-hook>
            <%= render :partial => 'spree/shared/nav_bar' %>
          </ul>
        </nav>
            
		<div id="top-menu" data-hook>
			<%= render 'spree/shared/top_menu' %>
		</div>
      </header>

      <div id="wrapper" class="row" data-hook>
        
        <% if content_for?(:sidebar) %>
          <aside id="sidebar" class="columns alpha four" data-hook>
            <%= yield :sidebar %>
          </aside>
        <% end %>

        <div id="content" class="columns omega <% if !content_for?(:sidebar) %> sixteen alpha <% else %> twelve <% end %>" data-hook>
          <%= short_breadcrumbs(@taxon) %>
          <%= flash_messages %>
          <%= yield %>
        </div>

      </div>

      <footer id="footer" class="row" data-hook>
		<%= render :partial => 'spree/shared/main_menu' %>
      </footer>
	 <copyright>&copy; 2012 ReserveBar.com</copyright>

    </div>

    <%= render :partial => 'spree/shared/google_analytics' %>

  </body>

</html>
