<h4>Gift Packaging</h4>
<ul id="gift-packaging-mockup">
<% Spree::GiftPackage.all.each do |gift_package| %>
	<li onclick="javascript:$('#gift-packaging-dialog_<%= gift_package.id -%>').dialog('open');"><input type='radio' name='gift-packaging-option' <%= gift_package.title.downcase.include?('suede') ? 'checked' : '' -%>><%= image_tag gift_package.image(:midi) -%> <%= gift_package.title -%> ($<%= gift_package.price -%>)</li>
<% end %>
	<li><input type='radio' name='gift-packaging-option'>No Gift packaging</li>
</ul>
<div style="clear:both;"></div>


<style>
	.gift-packaging-dialog .ui-icon {display:inline;}
	.gift-packaging-dialog a.button {color:#fff;}
	.gift-packaging-dialog div.price {font-size:36px;line-height:36px;color:#aaa;font-weight:bold}
	.gift-packaging-dialog div.price:first-letter {font-size:28px;vertical-align:super;}
</style>

<script type="text/javascript">
$(function() {
	$( "#dialog:ui-dialog" ).dialog( "destroy" );
	<% Spree::GiftPackage.all.each do |gift_package| %>

		$("#gift-packaging-dialog_<%= gift_package.id -%>").dialog({
			autoOpen: false,
			height: 500,
			width: 500,
			modal: true,
			title: ""
		});

	<% end %>
});

</script>

<% Spree::GiftPackage.all.each do |gift_package| %>
	<div id="gift-packaging-dialog_<%= gift_package.id -%>" class="gift-packaging-dialog">
		<h2><%= gift_package.title -%></h2>
		<div><%= gift_package.description %></div>
		<div class="product-image" style="float:left;width:180px;margin-top:24px;margin-left:24px;">
	  		<%= image_tag gift_package.image.url(:thumb), :itemprop => "name", :style => "float:right;text-decoration:none;"  %>
		</div>
		<div style="float:left;margin-top:20px;margin-left:24px;width:240px;">
			<div class="price selling" itemprop="price"><%= number_to_currency gift_package.price %></div>
		</div>
		<div class="clearfix"></div>
		<div style="margin:24px auto auto 160px;">
			<%= link_to t(:continue_shopping), "javascript:$('#gift-packaging-dialog_#{gift_package.id}').dialog('close');", :class => 'button large' %><br /><br />
		</div>
	</div>
<% end %>
