<div style="clear:both;"></div>

<% unless @product.ships_to_all_states? %>
	<br />
	<i>This product is only available for delivery in the following states: <%= @product.ships_to_states %></i>
	<br />
<% end %>

<% if @product.taxons.map(&:permalink).to_s.include?('type/wine') %>
<br />
<i>Please note that at times, specific vintages listed may not be currently offered by distributors in certain states due to new vintages having been recently introduced by that brand, seasonality or other factors.  In such event, we will substitute a comparable vintage (e.g., 2009 for 2008).</i>
<br />
<% end %>

<% unless @product_properties.empty? %> 
<% # combine multiple property values for the same property into one %>
<% 
	properties = {}
	@product_properties.each do |product_property|
		properties[product_property.property.presentation] = [] unless properties[product_property.property.presentation]
		properties[product_property.property.presentation] << product_property.value
	end
%>
	<br class="space" />
  <h6 class="product-section-title"><%= t('properties')%></h6>
  <table id="product-properties" class="table-display" data-hook width="100%">
    <tbody>
      <% properties.each do |key,value|
        css_class = cycle('even', 'odd') %>
        <tr class="<%= css_class %>">
          <td><strong><%= key %></strong></td>
          <td><%= value.join(', ') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
