<tr class="<%= cycle('', 'alt') %>">
	<td><%= link_to sanitize(variant.product.name, :tags => %w(sup)), product_path(variant.product) %> <%= variant.options_text %></td>
	<td><%= "#{line_item.quantity}" -%></td>
    <%= item_form.hidden_field :quantity, :min => 0, :class => "line_item_quantity" %>
</tr>
